<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.JavaWebCrawler.MockMapper">

    <insert
            id="insertNews" parameterType="com.github.JavaWebCrawler.News">
        insert into News (title,content,url,created_at,modified_at)
        values(#{title},#{content},#{url},#{createdAt},#{modifiedAt})
    </insert>
    <select
            id="selectNews" resultType="com.github.JavaWebCrawler.News">
        select id,title,content,url,created_at
        from News
    </select>
</mapper>